	
	<table style="width: 100%; " class="platform-intro">
		<tr>
			<td style="width: 33%;"><button class="btn btn-default b2b-button" type="button" onclick="document.location='/B2B/shop'">B2B Shop</button> </td>
			<td style="width: 33%;"><p class="platform-title">ASSETS-PLATFORM</p></td>
			<td style="width: 33%;"></td>
		</tr>
	</table>
	
	<div class="card-deck">
		<div class="card">
			
			<div class="card-body card-column">
				
				<div class="upload-section"><h5 class="card-title">Marketing Material </h5> <i class="fa fa-eye seeAll" aria-hidden="true" onclick="see_all()"></i></div>
				<div class="card-text">
					<p class="no-info-material" style="margin-top: 165px !important; display:block; " > No Corresponding <br> Material to be Shown</p>
					<ul class="list-group material"></ul>
				</div>
				
			</div>
		</div>
		<div class="card">
			
			<div class="card-body card-column">
				<h5 class="card-title">Orders</h5>
				<div class="card-text">
					<div id="accordion" class="so-accordion">
						<p class="no-info-so" style="display:block; "> No Orders Made</p>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			
			<div class="card-body card-column">
				<h5 class="card-title">Invoices</h5>
				<div class="card-text">
					<div id="accordionTwo" class="sinv-accordion">
						<p class="no-info-sinv" style="display:block; "> No Invoices Made</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="users_only_message">Please Login to see the content of this page</div>
	<div id="modal">
		<div class="popUp"> 
			<div class="popUpContent"> 
				<div class="popUpBtnDiv"> 
					<button class="popUpCancel" onclick="pop_up_cancel()">CLOSE</button>
				</div> 
				<div class="popUpTable"> 
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner"></div>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>	
				</div>
			</div>
		</div>
	</div>
	
	<div class="small-footer"> 
		<div class="footer-first-div" >	
			<img src="/files/rubirosa_footer_transparent_black.png">
			<p>RUBIROSA MANAGEMENT GMBH<br>LAGERSTRASSE 4<br>CH-9200 GOSSAU SG</p>
			<table>
				<tbody>
					<tr>
						<td style="width: 55px;">TEL:</td>
						<td>+41 44 586 02 80</td>
					</tr>
					<tr>
						<td style="width: 55px;">E-MAIL:</td>
						<td><a href="mailto:info@rubirosa.com" style="color: black;">INFO@RUBIROSA.COM</a></td>
					</tr>
				</tbody>	
			</table>
		</div>
		<div class="rubi-7">
			<ul>
				<li class="rubi-5"><a class="rubi-6" href="https://www.facebook.com/RUBIROSAOFFICIAL" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li class="rubi-5"><a class="rubi-6" href="https://www.instagram.com/rubirosaofficial/" target="_blank"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</div>		
	</div>
