	
	<p class="platform-title">ASSETS-PLATFORM</p>
	
	<div class="card-deck">
		<div class="card">
			
			<div class="card-body">
				<h5 class="card-title">Marketing Material </h5>
				<div class="card-text">
					<ul class="list-group material"></ul>
				</div>
				
			</div>
		</div>
		<div class="card">
			
			<div class="card-body">
				<h5 class="card-title">Orders</h5>
				<div class="card-text">
					<ul class="list-group user-orders"></ul>
				</div>
			</div>
		</div>
		<div class="card">
			
			<div class="card-body">
				<h5 class="card-title">Invoices</h5>
				<div class="card-text">
					<ul class="list-group user-invoices"></ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="users_only_message">Please Login to see the content of this page</div>

