a {
	text-decoration: none !important;
	color: #7d7d7d !important;
}
.page_content {
	height: 100% !important;
}

.platform-title {
	margin-left: 5px;
	font-size: 22px !important;
    text-align: center;
}

.card {
	height: 600px;
}

.card-title, .platform-title {
	text-transform: uppercase;
	letter-spacing: 4px;
}

.card-title {
	font-size: 15px;
	height: 30px;
}

.card-body {
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
    text-align: center;
}

.users_only_message {
	display: none;
	font-size: 23px;
	padding: 150px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.list-group-item  {
	text-align: right;
	color: #7d7d7d !important;
}

.so-li:hover, .sinv-li:hover{
	color: #fff !important;
    background-color: #000 !important;
    cursor: pointer;
}

.so-li:hover a, .sinv-li:hover a{
	color: #fff !important;
}

.marketingli {
	border: none !important;
}
.marketingImage {
	height: 100%;
}
