Kennzeichen|Artikelnummer|Bezeichnung 1|Bezeichnung 2|Artikelgruppe 1|Artikelgruppe 2|ABC – Klassifikation|Merkmal 1|Merkmal 2|EAN – Code|Lagereinheit|Verpackungseinheit|Kartonmenge|Volumen|Gewicht|Länge|Breite|Höhe|VK – Preis Netto|Ursprungsland|Zolltarifnummer|Artikelart|MwSt – Schlüssel|Währungskürzel|Auswert 1|Auswert 2|Auswert 3|Auswert 4|Auswert 5|Text 1|Text 2|Text 3|Text 4|Text 5
{% for item in items %}
{{item.item_status }}|{{ item.item_number }}|{{ item.description }}|""|{{ item.group }}|""|""|{{ item.size_value }}|{{ item.colour_value }}|{{ item.ean_code }} |{{ item.stock_uom }}|""|""|""|{{ items.weight or 0 }} |""|""|""|""|{{ item.origin }} |{{ item.tariff }} |""|""|""|""|""|""|""|""|""|""|""|""|"" 
{%- endfor %}
